.App {
  text-align: center;
}

header {
  padding-top: 30px;
  padding-bottom: 50px;
}

.App-logo {
  width: 250px;
  pointer-events: none;
}

.room-name {
  text-align: center;
  font-size: 24px;
  color: #666;
  margin-bottom: 20px;
}

button {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 300px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 28px;
  padding: 10px 20px;
  border: 0;
  border-radius: 0;
  
  color: #fff;
  text-transform:capitalize;
  outline: 0;
  margin-bottom: 30px;

}

.button-call {
  background-color:#2ecc71;
}

.button-call:active {
  background-color: #256b42
}

.button-reset {
  background-color:#e74c3c;
}